/* Start Varibal */
:root {
  --main-color: #dc143c;
  --second-color: #fff;
  --black-color: #000000;
  --card-color: #00ffc3;
  --section-padding: 100px;
  --main-transition: .3s;
  --border-radius: 7px;
}
/* End Varibal */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
/* Larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
  margin-bottom: -25px;
  z-index: 1;
  position: relative;
}
.main-heading h2 {
  font-size: 38px;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  z-index: -1;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 185px;
  height: 2px;
  background-color: var(--black-color);
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading p {
  display: inline-block;
  position: relative;
  color: var(--main-color);
  background-color: var(--second-color);
  left: -3px;
  top: -11px;
  padding: 0 10px;
  margin: -11px auto 100px;
  z-index: -1;
}
/* End Components */
/* Start header */
header {
  position: relative;
  z-index: 99999;
}
header .container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  transition: var(--main-transition);
}
header .container.sticky {
  background-color: var(--main-color);
}
header .container .logo a {
  color: var(--second-color);
  font-size: 40px;
  font-weight: 700;
}
header .container .logo a span {
  color: var(--main-color);
  transition: var(--main-transition);
}
header .container.sticky .logo a span {
  color: var(--second-color);
}
header .container .menu {
  display: flex;
}
header .container .menu li {
  margin-left: 25px;
}
header .container .menu li a {
  color: var(--second-color);
  font-size: 21px;
  font-weight: 600;
  transition: var(--main-transition);
  display: block;
}
header .container .menu li a:hover {
  color: var(--main-color);
  transform: scale(1.3);
}
header .container.sticky .menu li a:hover {
  color: var(--second-color);
}
header .container .menu-btn {
  color: var(--second-color);
  font-size: 27px;
  display: none;
}
/* End header */
/* Start home */
.home {
  display: flex;
  background: url(../image/ali-khaled.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  color: var(--second-color);
}
.home .container {
  margin: auto 0 auto 40px;
}
.home .container .home-content .text-1 {
  font-size: 27px;
}
.home .container .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
}
.home .container .home-content .text-3 {
  font-size: 40px;
}
.home .container .home-content .text-3 span {
  color: var(--main-color);
  font-weight: 700;
}
.home .container .home-content a {
  display: block;
  color: var(--second-color);
  font-size: 26px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  margin-top: 10px;
  width: fit-content;
  padding: 12px 22px;
  transition: var(--main-transition);
}
.home .container .home-content a:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* Start home */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .container .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about .container .about-content .image {
  width: 45%;
}
.about .container .about-content .image img {
  width: 330px;
  height: 440px;
  border-radius: 15px;
}
.about .container .about-content .info {
  width: 55%;
}
.about .container .about-content .info .text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about .container .about-content .info .text span {
  color: var(--main-color);
}
.about .container .about-content .info .about-me {
  line-height: 1.3;
  word-spacing: 1.4px;
  text-align: justify;
}
.about .container .about-content .info .about-me span {
  color: var(--main-color);
  font-weight: 700;
}
.about .container .about-content .info .about-me p {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color);
}
.about .container .about-content .info .about-me ul {
  list-style: disc;
  padding-left: 25px;
  margin: 5px 0;
}
.about .container .about-content .info .about-me ul li {
  line-height: 1.6;
}
.about .container .about-content .info a {
  display: block;
  margin-top: 20px;
  font-size: 21px;
  font-weight: 600;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--second-color);
  width: fit-content;
  padding: 15px 25px;
  border-radius: var(--border-radius);
  transition: var(--main-transition);
}
.about .container .about-content .info a:hover {
  background-color: transparent;
  color: var(--main-color);
  transform: scale(1.1);
}
/* End About */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--black-color);
  color: var(--second-color);
} 
.services .container .main-heading h2::before {
  background-color: var(--second-color);
}
.services .container .main-heading p {
  background-color: var(--black-color);
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .container .services-content .service {
  background-color: #70777657;
  text-align: center;
  padding: 10PX;
  border-radius: var(--border-radius);
  transition: var(--main-transition);
}
.services .container .services-content .service:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}
.services .container .services-content .service:hover i {
  color: var(--second-color);
}
.services .container .services-content .service i {
  color: var(--main-color);
  font-size: 35px;
  margin: 7px 0 13px 0;
  transition: var(--main-transition) ease-out;
}
.services .container .services-content .service h2 {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 27px;
}
.services .container .services-content .service p {
  margin-bottom: 12px;
  font-size: 19px;
}
/* End Services */
/* Start Skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container .skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .container .skills-content .expriences-skill {
  flex: 1;
  margin-right: 40px;
}
.skills .container .skills-content .expriences-skill h2 {
  font-size: 22px;
  font-weight: 700;
}
.skills .container .skills-content .expriences-skill p {
  line-height: 1.5;
  word-spacing: -2px;
  margin: 15px 0;
  text-align: justify;
  text-align-last: center;
  width: 400px;
}
.skills .container .skills-content .expriences-skill a {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 600;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  transition: var(--main-transition);
}
.skills .container .skills-content .expriences-skill a:hover {
  background-color: transparent;
  color: var(--main-color);
  transform: scale(1.1);
}
.skills .container .skills-content .row-skill {
  flex: 1;
}
.skills .container .skills-content .row-skill .row h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -9px;
}
.skills .container .skills-content .row-skill .row h2 span {
  font-size: 21px;
}
.skills .container .skills-content .row-skill .row .the-progress {
  position: relative;
  background-color: #ccc;
  height: 5px;
  border-radius: 3px;
  margin: 20px 0;
}
.skills .container .skills-content .row-skill .row .the-progress span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 3px;
}
/* End Skills */
/* Start projects */
.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--black-color);
}
.projects .container .main-heading {
  color: var(--second-color);
}
.projects .container .main-heading h2::before {
  background-color: var(--second-color);
}
.projects .container .main-heading p {
  background-color: var(--black-color);
}
.projects .container .projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  margin-right: 20px;
}
.projects .container .projects-content .card {
  position: relative;
  width: 230px;
  height: 331px;
  transform-style: preserve-3d;
  transition: transform .3s;
  cursor: pointer;
}
.projects .container .projects-content .card:hover {
  transform: scale(1.1);
}
.projects .container .projects-content .card.flipped {
  transform: rotateY(-180deg);
}
.projects .container .projects-content .card .face,
.projects .container .projects-content .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--second-color);
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 8px;
  background-color: #1f1f1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.projects .container .projects-content .card .face::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  opacity: .4;
  transition: var(--main-transition);
}
.projects .container .projects-content .card .face:hover::before {
  opacity: 0;
}
.card .face img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, .6);
}
.projects .container .projects-content .card .back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.projects .container .projects-content .card .back h2 {
  color: var(--card-color);
  font-size: 25px;
  margin-top: -75px;
  margin-bottom: -6px;
}
.projects .container .projects-content .card .back p {
  color: #e0e0e0;
  font-size: 18px;
  font-weight: normal;
  padding: 28px 0;
}
.projects .container .projects-content .card .back a {
  margin-bottom: -66px;
  background-color: var(--card-color); 
  color: var(--black-color);
  font-size: 23px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid var(--card-color);
  transition: var(--main-transition);
}
.projects .container .projects-content .card .back a:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: var(--card-color);
}
/* End projects */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.contact .container .contact-content .left,
.contact .container .contact-content .right {
  flex: 1;
}
.contact .container .contact-content .left > h2 {
  font-size: 22px;
  font-family: monospace;
}
.contact .container .contact-content .left > p {
  padding-top: 5px;
  margin: 13px 0px;
  font-size: 19px;
  color: #484646;
}
.contact .container .contact-content .left ul li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.contact .container .contact-content .left ul li i {
  font-size: 30px;
  color: var(--main-color);
  margin-right: 30px;
}
.contact .container .contact-content .left ul li .info h2 {
  font-size: 20px;
  font-weight: 700;
}
.contact .container .contact-content .left ul li .info p {
  font-size: 20px;
  color: #484646;
  margin-top: 10px;
}
.contact .container .contact-content .right h2 {
  font-size: 21px;
  font-family: sans-serif;
}
.contact .container .contact-content .right .user-info {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .container .contact-content .right .user-info input[type=text] {
  margin-right: 18px;
  padding: 7px 9px;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
}
.contact .container .contact-content .right .user-info input[type=email] {
  padding: 7px 9px;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
}
.contact .container .contact-content .right .user-message input[type=text] {
  width: 100%;
  margin-top: 18px;
  padding: 9px;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
}
.contact .container .contact-content .right .user-message textarea {
  width: 100%;
  resize: none;
  height: 120px;
  padding: 10px 15px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
}
.contact .container .contact-content .right a {
  background-color: var(--main-color);
  color: var(--second-color);
  margin-top: 10px;
  display: block;
  width: fit-content;
  padding: 13px 19px;
  font-size: 23px;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  transition: var(--main-transition);
}
.contact .container .contact-content .right a:hover {
  background-color: transparent;
  color: var(--main-color);
  transform: scale(1.1);
}
.social-media {
  display: flex;
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--black-color);
  color: white;
  text-align: center;
  padding: 25px 0;
}
.footer a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
}
/* End Footer */